*.tgz
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.next
.npm
.pnp.js
.vscode
.pnp
build
dist
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
